.widget {
    background-color: rgb(35, 48, 68);
    padding: 20px;
}

.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    font-size: 20px;
}